body {
  background-color: var(--c-bkg);
}

html,
body {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--c-shadow) transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--c-shadow);
  border-radius: 3px;
  border: 3px solid transparent;
}
