:root {
  --fs: 1rem;
  --fs-small: 0.7rem;
  --fs-xsmall: 0.7rem;
  --fs-large: 1.2rem;
  --fs-xlarge: 1.6rem;
}

html {
  font-size: 120%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: var(--fs);
  line-height: 1.2;
  color: var(--c-p);
}

a {
  cursor: pointer;
  color: var(--c-p);
}

/* button reset */
button {
  background-color: transparent;
  border: none;
  padding: 0;
}

::selection {
  color: var(--c-bkg);
  background: var(--c-p);
}

h1,
h2,
h3,
h4 {
  color: var(--c-p);
}

h1 {
  font-size: var(--fs-xlarge);
}

h2 {
  font-size: var(--fs-large);
}
