.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.connectionErrorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.connectionError {
  margin-bottom: var(--spacing-page);
  max-width: 600px;
}

.footer {
  position: fixed;
  bottom: var(--spacing);
  left: var(--spacing);
  right: var(--spacing);
}
